@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    I am a full stack software developer at ARI Network Services. Most of the work I do is back-end .NET and SQL work, but I can get my hands dirty with JavaScript (hopefully TypeScript, now) if I need to.
</p>
<p>
    I enjoy making things and destroying things. Sometimes to see how they work, sometimes just for fun.
</p>
<p>
    This blog will not be updated regularly, if at all. It was just a <a href="/Posts/Post/First Post">project to explore ASP.NET Core</a>.
</p>