@model weblog.Models.PostModel

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Posts" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
</form>