@using weblog.ViewComponents
@using weblog.Services
@using weblog.Models
@model IReadOnlyCollection<PostModel>
@{
    ViewData["Title"] = "Posts";
}

<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            @foreach(PostModel post in Model) {
                <li class="list-group-item">
                    <a asp-controller="Posts" asp-action="Post" asp-route-postName="@post.Name">@post.Name</a> (@post.LastModified)
                </li>
            }
        </ul>
    </div>
</div>
